{# templates/team/index.html.twig #}

{% extends 'base.html.twig' %}

{% block stylesheets %}
<style>
    body {
        background-color: #f0f0f0;
        font-family: Arial, sans-serif;
    }

    h1 {
        color: #ff6347;
        text-align: center;
        padding: 20px 0;
    }

    ul {
        list-style: none;
        padding: 0;
    }

    li.team {
        background-color: #fff;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        margin-bottom: 20px;
        padding: 20px;
        transition: transform 0.3s ease-in-out;
    }

    li.team:hover {
        transform: scale(1.03);
    }

    h2 {
        color: #008080;
        margin-bottom: 10px;
    }

    h3 {
        color: #800080;
        margin-bottom: 5px;
    }

    li.player {
        color: #000080;
        margin-bottom: 5px;
    }
</style>
{% endblock %}

{% block body %}
    <h1>Teams</h1>

    <ul>
        {% for team in teams %}
            <li>
                <h2>{{ team.name }} ({{ team.country }})</h2>
                <h3>Balance: {{ team.moneyBalance }}</h3>
                <h3>Players:</h3>
                <ul>
                    {% for player in team.players %}
                        <li>{{ player.name }} {{ player.surname }}</li>
                    {% endfor %}
                </ul>
            </li>
        {% endfor %}
    </ul>
{% endblock %}
